div {
  /*상대 배치, relative를 사용하기 위해서 inline-block으로 설정*/
  display: inline-block;
  height: 50px;
  width: 50px;
  /*1px두께의 lightgray 색상의 실선을 border로 설정*/
  border: 1px solid lightgray;
  color: white;
  /*text 중앙에 위치*/
  text-align: center;
  background-color: red;
}
/*id="down"인 div위에 마우스를 올린 경우, 상대 배치에 따라 위치가 변하며 색상도 변경된다.*/
#down:hover {
  position: relative;
  left: 20px;
  top: 20px;
  background-color: green;
}
/*id="up"인 div위에 마우스를 올린 경우, 상대 배치에 따라 위치가 변하며 색상도 변경된다.*/
#up:hover {
  position: relative;
  right: 20px;
  bottom: 20px;
  background-color: green;
}
