body {
  /*div(id=""box)를 가운데 위치 시킴*/
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#box {
  /*div(id=""box)의 크기와 내부의 div위치 조정*/
  width: 50%;
  height: 50%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/*font 사이즈 및 굵기 조정*/
#orderBox {
  font-size: 24px;
  font-weight: bold;
}
#wordBox {
  font-size: 24px;
}
#inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inputBox button {
  width: 50%;
  margin-top: 20px;
}
